<article class="card-panel article <%= half-size if @half_size %>" data-id="<%= article.id%>">
  <div class="row valign-wrapper">
    <div class="col s1 valign created-at">
      <p class="center"><%= article.created_at.strftime '%d' %></p>
      <p class="center"><%= article.created_at.strftime '%b' %>.</p>
    </div>

    <div class="col s10 title">
      <a href="<%= article.url %>">
        <h3><%= article.title %></h3>
        <p><%= article.website %></p>
      </a>
    </div>

    <div class="col s1 valign category">
      <i class="right devicons devicons-<%= article.category %>"></i>
    </div>
  </div>
</article>
