<article class="article">
  <a href="<%= article.url %>">
    <div class="row">
      <div class="col s11">
        <h5><%= article.title %></h5>
        <p><%= article.created_at.strftime '%m/%d/%Y' %></p>
      </div>

      <div class="col s1">
        <!-- <p class="right-align"><%= article.category %></p> -->
        <i class="right-align devicons devicons-<%= article.category %>"></i>
      </div>
    </div>
  </a>
</article>
