<div class="container">
  <div class="row">
    <div class="col s2">
      <div class="card-panel center-align">
        <p><%= Article.all.size %></p>
        <p>Articles</p>
      </div>
    </div>

    <div class="col s2">
      <div class="card-panel center-align">
        <p><%= @categories.size %></p>
        <p>Catégories</p>
      </div>
    </div>

    <div class="col s2">
      <div class="card-panel center-align">
        <p><%= @websites.size %></p>
        <p>Sites Web</p>
      </div>
    </div>
  </div>

  <div class="card-panel">
    <canvas id="chart-percent-categories" height="350"></canvas>
  </div>

  <div class="card-panel">
    <canvas id="chart-percent-categories-days" height="350"></canvas>
  </div>

  <div class="card-panel">
    <canvas id="chart-percent-categories-hours" height="350"></canvas>
  </div>
</div>

<div class="controller-data"
     data-percent-categories="<%= @percent_categories.to_json %>"
     data-percent-categories-days="<%= @percent_categories_days.to_json %>"
     data-percent-categories-hours="<%= @percent_categories_hours.to_json %>"></div>
